.App {
  padding-top: 14vh;
  width: 100%;
}

.App section {
  padding: 15vh 1em 0;
  width: 100%;
}

.Navbar {
  background-color: #090909;
  justify-content: space-between;
  color: #fff;
  padding: 0 0.5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 14vh;
  min-height: 50px;
  max-height: 80px;
  z-index: 1;
}

.Navbar h1 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.Navbar h1 span {
  color: var(--main-color);
  font-weight: 700;
}

.Navbar .logo-group { height: 75%; }

.Navbar .logo-group .logo {
  max-height: 100%;
  margin-right: 0.5em;
}

.Navbar ul {
  list-style-type: none;
  justify-content: space-between;
}

.navlinks { display: none; }

.navlink-wrapper {
  margin: 1em;
  position: relative;
  width: 3.5em;
  height: 1.5em;
}

.navlink {
  color: #999;
  font-size: 0.95em;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s ease-out;
}

.navlink:hover { color: #fff; }

.navlink-wrapper svg {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: -30%;
  transform: rotateY(180deg);
  transition: 0.3s ease;
}

.heartbeat path {
  fill-opacity: 0;
  opacity: 0;
  stroke: var(--main-color);
  stroke-width: 1em;
  stroke-dasharray: 1400;
  transition: 0.3s ease-out;
}

@keyframes pulse {
  0% { stroke-dashoffset: 1400; }
  100% { stroke-dashoffset: 0; }
}

.heartbeat.animate path {
  animation: pulse 0.3s ease-out;
  opacity: 1;
}

.menu-toggle {
  position: relative;
  width: 40px;
  height: 32px;
}

.menu-toggle .overlay {
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s ease-out;
}

.menu-toggle .overlay.active {
  opacity: 1;
  transform: translateX(0);
}

.menu-toggle button {
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 40px;
  height: 32px;
  z-index: 2;
}

.menu-toggle .burger-slice {
  background-color: #fff;
  border-radius: 3px;
  height: 4px;
  width: 33px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-toggle .burger-slice:first-child { transform-origin: 0 0; }
.menu-toggle .burger-slice:last-child { transform-origin: 0 100%; }

.menu-toggle button.active .burger-slice {
  background-color: #090909;
  opacity: 1;
  transform: rotate(45deg) translate(3px, -6px);
}

.menu-toggle button.active .burger-slice:nth-child(2) {
  opacity: 0;
  transform: rotate(0) scale(0.2, 0.2);
}

.menu-toggle button.active .burger-slice:last-child {
  transform: rotate(-45deg) translate(3px, 6px);
}

.menu-wrapper.container {
  background-color: #fff;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 1;
}

.menu-wrapper ul {
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
}

.menu-wrapper .navlink {
  color: #090909;
  font-size: 1.5em;
  margin: 2em;
}

.menu-wrapper.active {
  transform: translate(0, 0);
}

a.btn,
button.btn {
  background-color: var(--main-color);
  border-radius: 100vmax;
  box-shadow: var(--box-shadow-light);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.5em 1em;
  transition: 0.3s ease-in-out;
}

a.btn:hover,
button.btn:hover { background-color: var(--accent-color); }

.title-wrapper {
  flex-direction: column;
  position: relative;
  z-index: -1;
}

.title-wrapper h2 {
  font-size: 1.8em;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.title-wrapper .heartbeat.underline,
.menu-wrapper .heartbeat.underline { transform: rotateY(180deg); }

.title-wrapper .heartbeat.underline path,
.menu-wrapper .heartbeat.underline path { opacity: 1;}

#home {
  color: #090909;
  flex-direction: column;
  height: 85vh;
  margin-bottom: 3em;
  padding-top: 0;
}

#home img {
  width: 100%;
  max-width: 500px;
}

.call-to-action { text-align: center; }

.call-to-action h2 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.more-info {
  flex-direction: column;
  margin: 0 auto 3em;
  width: 100%;
}

.more-info img {
  box-shadow: var(--box-shadow-light);
  width: 100%;
  max-width: 500px;
}

.more-info p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-top: 2em;
  text-align: center;
  max-width: 500px;
}

.services {
  flex-direction: column;
  margin: 2em auto;
  position: relative;
  width: 80%;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.service-card {
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-light);
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 230px;
}

.service-card img { width: 100%; }

.service-card h3 {
  font-size: 1em;
  flex: 1;
  letter-spacing: 1px;
  padding: 0.5em;
}

#quote { flex-direction: column; }

#quote p {
  margin-bottom: 1em;
  text-align: center;
}

.quote-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  width: 100%;
  max-width: 800px;
}

.input-wrapper {
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.input-wrapper input,
.input-wrapper textarea {
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.3);
  border-radius: 0.2em;
  color: #333;
  font-family: inherit;
  font-weight: 300;
  font-size: 1em;
  outline: none;
  padding: 0.5em;
  resize: none;
  width: 100%;
}

.input-wrapper textarea { min-height: 6em; }

.input-wrapper .input-title
 {
  color: #919191;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 0.5em;
  pointer-events: none;
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.input-wrapper input:focus ~ .input-title,
.input-wrapper input:valid ~ .input-title,
.input-wrapper textarea:focus ~ .input-title,
.input-wrapper textarea:valid ~ .input-title {
  color: var(--main-color);
  font-size: 0.8em;
  transform: translateY(-1.5em);
}

.input-wrapper.container {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.input-wrapper label {
  color: #919191;
  letter-spacing: 1px;
  padding: 0.5em;
  transition: 0.3s;
}

.input-wrapper select {
  border: 0.1rem solid rgba(0,0,0,0.3);
  font-family: inherit;
  outline: none;
  padding: 0.3em 0.5em;
}

.input-wrapper select:focus ~ label,
.input-wrapper select:valid ~ label {
  color: var(--main-color);
}

.quote-form .btn {
  font-size: 1em;
  justify-self: center;
}

#contact {
  flex-direction: column;
  padding: 15vh 0 2em;
}

.contact-body {
  flex-direction: column;
  margin: auto;
  padding: 0 1em 1em;
  width: 100%;
}

.contact-body .info {
  flex-direction: column;
  padding: 0 1em;
}

.contact-body .info p {
  margin-bottom: 1em;
  text-align: center;
}

.contact-body .map {
  box-shadow: var(--box-shadow-light);
  width: 100%;
  max-width: 500px;
}
  
.contact-body .map iframe { width: 100%; }

#contact ul {
  flex-direction: column;
  list-style-type: none;
}

#contact ul li {
  font-size: 0.9em;
  margin-bottom: 1em;
  width: 100%;
}

.contact-link {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  transition: 0.3s;
}

.contact-icon {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.contact-link:hover { opacity: 0.5;}

footer {
  background-color: #090909;
  flex-direction: column;
  padding: 1em 0;
}

.supplier-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  align-items: center;
  justify-items: center;
  width: 80%;
}

.supplier-logos img { max-width: 100%; }

.footer-links { 
  flex-direction: column;
  width: 100%;
}

.footer-links a {
  color: #fff;
  font-size: 0.8em;
  margin-top: 1em;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.footer-links a:hover { opacity: 1; }

.footer-links .company { font-size: 1em; }

@media screen and (min-width: 375px) {
  .Navbar { padding: 0 1em; }

  .Navbar h1 { font-size: 1.2em; }

  .service-card { height: 250px; }

  .quote-form { padding: 1em; }
}

@media screen and (min-width: 576px) {
  .services-list { grid-template-columns: repeat(2, 1fr); }
  .service-card { margin: 0; }
}

@media screen and (min-width: 768px) and (min-height: 576px) {
  .Navbar {
    max-height: none;
    padding: 0 2em;
  }

  .Navbar h1 { font-size: 1.5em; }

  .menu-toggle {display: none; }

  .navlinks { display: flex; }

  #home,
  .contact-body { flex-direction: row; }

  .contact-body { max-width: 991px; }

  .contact-body .info {
    width: 50%;
    max-width: 400px;
  }

  .quote-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    padding: 1em 2em;
  }

  .quote-form .btn { grid-column: 1/3; }

  .footer-links {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-links a { font-size: 1em; }
}

@media screen and (min-width: 992px) {
  .call-to-action h2 { font-size: 2.5em; }

  .more-info {
    flex-direction: row;
    width: 80%;
  }

  .more-info img { margin-right: 2em; }

  .services-list { grid-template-columns: repeat(3, 1fr); }
}
