* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #fd0000;
}

html, body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

a, a:visited {
  cursor: pointer;
  text-decoration: none;
}

button, 
button:focus,
button:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}